@model IEnumerable<MVCBlog.Core.Entities.Tag>

<div>
    <ul class="list-inline">
        @foreach (var tag in this.Model)
        { 
            <li><i class="glyphicon glyphicon-tag"></i> <a href="@Url.RouteUrl(MVCBlog.Website.Routes.TAG, new { tag = tag.Name })">@tag.Name</a></li>
        }
    </ul>
</div>