@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Privacy Policy"];
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["Use this page to detail your site's privacy policy."]</p>
