/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../lib/webfonts/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
    src: url('../lib/webfonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../lib/webfonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../lib/webfonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../lib/webfonts/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../lib/webfonts/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../lib/webfonts/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../lib/webfonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../lib/webfonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../lib/webfonts/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../lib/webfonts/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../lib/webfonts/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
